$fa-font-path:    "../fonts/font-awesome/";
$zmdi-font-path:   "../fonts/material-design-iconic-font";

$body-bg: #ECEFF1;

$brand-primary: #FF6C13;
$brand-success: #7AC142;

$font-family-roboto: 'Roboto', Arial, sans-serif;
$font-family-base: $font-family-roboto;

$font-size-base: 16px;
$headings-color: $brand-primary;
$headings-font-family: $font-family-roboto;
$headings-font-weight: 300;

$navbar-height: 64px;
$navbar-default-color: rgba(#fff, .9);
$navbar-default-bg: #1A242F;
$navbar-default-link-color: rgba(#fff, .9);
$navbar-default-link-hover-color: #fff;
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: $navbar-default-brand-color;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: transparent;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: transparent;

// Switches
$switch-bg-color: $brand-primary;
$switch-checked-lever-bg: desaturate(lighten($brand-primary, 25%), 25%);
$switch-unchecked-bg: #F1F1F1;
$switch-unchecked-lever-bg: #818181;
$switch-radius: 15px;
