<div class="sidebar__top">
  <div class="sidebar__top__plan">
    
    <div class="sidebar__top__plan_details">
      <div class="sidebar__top__plan__plan_name">
        Premium
      </div>
      <div class="sidebar__top__plan__plan_duration">
        Lifetime
      </div>
    </div><!-- /.sidebar__top__plan_details -->

    <div class="sidebar__top__plan_actions">
      <a href="#" class="sidebar__top__plan__action">
        Plans
      </a>
    </div><!-- /.sidebar__top__plan_actions -->

  </div><!-- /.sidebar__top__plan -->
</div><!-- /.sidebar__top -->
