.auth__logo {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.auth__logo__image {
  width: 80px;
}

.auth__logo__heading {
  display: block;
  margin-top: 15px;
  color: #333;
  font-size: 28px;
  font-weight: 400;
}

.auth__box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.09), 0 10px 15px rgba(0, 0, 0, 0.12);
  margin-top: 50px;
  margin-bottom: 100px;
}

.auth__box__bar {
  display: block;
  padding: 0px 50px;
  min-height: 60px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #F5F5F5;
  border-bottom: 1px solid darken(#F5F5F5, 2%);
  color: rgba(0,0,0,0.54);
}

.auth__box__bar__title {
  display: inline-block;
  font-size: 22px;
  padding: 14.5px 5px;
}

.auth__box__bar__title__cog {
  padding-left: 5px;
  color: rgba(0,0,0,0.54);

  &:hover,
  &:focus {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }
}

.auth__box__bar__items {
  display: inline-block;
  float: right;
  margin-right: -10px;

  @media(max-width: $container-sm) {
    margin-right: -20px;
  }
}

.auth__box__bar__item {
  display: inline-block;
  color: rgba(0,0,0,0.54);
  font-size: 18px;
  padding: 17.5px 10px;

  @media(max-width: $container-sm) {
    padding: 17.5px 20px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
  }
}

.auth__box__heading {
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #666;
  margin: 0;
  padding: 50px;
}

.auth__box__body {
  padding: 0px 50px 50px 50px;
  & label {
    border: 0;
    background: transparent;
  }
}

.auth__link {
  display: block;
  padding: 20px 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0;
  color: #848C9F;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $brand-primary;
  }
}

.auth__actions {
  @include clearfix();
}

.auth__action {
  background: #E8E9EC;
  color: #848C9D;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  border: 0;
  text-align: center;
  &:hover,
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

.auth__action--primary {
  background: $brand-primary;
  color: #fff;
  &:hover {
    background: $brand-primary;
    color: #fff;
  }
  &:focus {
    background: darken($brand-primary, 10%);
    color: #fff;
  }
}

.auth__action--single {
  display: block;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px 50px;
}

.auth__action--dual {
  display: inline-block;
  width: 50%;
  padding: 20px;
  &:nth-child(1) {
    float: left;
    border-bottom-left-radius: 6px;
  }
  &:nth-child(2) {
    border-bottom-right-radius: 6px;
    float: right;
  }
}

.auth__action--secondary {
  background: #E8E9EC;
  color: #848C9D;
  &:hover {
    background: #E8E9EC;
    color: #c64a00;
  }
  &:focus {
    background: darken(#E8E9EC, 10%);
    color: #c64a00;
  }
}
