.category {
  & .category {
    margin-top: 20px;
    padding-left: 35px;
  }

  & .category__content {
    display: block;

    transition: .2s;
  }

  & .category__state-indicator {
    @extend .zmdi;
    @extend .zmdi-minus-circle-outline;
  }
}

.category--closed {

  & .category__content {
    display: none;
  }

  & .category__state-indicator {
    @extend .zmdi;
    @extend .zmdi-plus-circle-o;
  }
}

.category__heading {
  display: block;
  font-size: 22px;
  font-weight: 500;
  color: $brand-primary;
  margin-bottom: 15px;

  & .truncate {
    display: inline-block;
    width: 50%;
  }

  @media(max-width: $container-md) {
    font-size: 16px;

    & .truncate {
      width: 30%;
    }

    & .pull-right {
      margin-top: -5px;
    }

  }
}

.item {
  @include md-shadow(1);
  background: #fff;
  margin-bottom: 15px;
}

.item--disabled {
  opacity: .7;
  background: darken(#fff, 2%);
}

.item__details {
  display: inline-block;
  padding: 15px;
  @media only screen and (max-width: $container-md) {
    width: 40%;
  }
}

.item__name {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-right: 5px;

  @extend .truncate;

  @media only screen and (max-width: $container-md) {
    font-size: 14px;
    width: 80%;
  }
}

.item__price {
  @media only screen and (max-width: $container-md) {
    display: none;
  }
}

.item__actions {
  display: inline-block;
  float: right;
  font-size: 18px;
  font-weight: 500;

  @media only screen and (max-width: $container-md) {
    font-size: 16px;
  }
}

.item__actions__action {
  display: inline-block;
  border: 0;
  font-size: 24px;
  font-weight: 500;
  padding: 21px 26.5px;
  float: left;
  min-height: 77px;
  background: #eee;
  color: rgba(#000, 0.55);

  @media only screen and (max-width: $container-md) {
    min-height: 50px;
    padding: 8px 15px;
  }

  &:focus {
    outline: 0;
    background: darken(#eee, 5%);
  }
}

.item__actions__action--primary {
  background: $brand-primary;
  color: #fff;

  &:focus {
    background: darken($brand-primary, 10%);
  }
}

.item__actions__action--orange {
  background: $brand-warning;
  color: #fff;

  &:focus {
    background: darken($brand-warning, 10%);
  }
}

.item__actions__action--red {
  background: $brand-danger;
  color: #fff;

  &:focus {
    outline: 0;
    background: darken($brand-danger, 10%);
  }
}
