.featurebar {
  display: block;
  color: #fff;
  background: $brand-primary;
  font-weight: 400;
  margin-top: -20px;
  margin-bottom: 20px;
}

.featurebar__heading {
  display: block;
  position: relative;
  font-size: 22px;
  padding: 10px 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @include clearfix();
}

.featurebar__responsive {
  @media screen and (max-width: 767px) {
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}


.featurebar__nav {
  display: block;
  @media only screen and (max-width: 767px) {
    user-select: none;
    width: auto;
    transition: margin-left .4s cubic-bezier(.4,.01,.165,.99) .4s;
    margin-left: 0;
    margin-right: 0;
  }
}

.featurebar__nav__item {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  text-align: center;
  color: rgba(#fff, .8);
  text-transform: uppercase;
  transition: background-color .35s cubic-bezier(0.35,0,0.25,1);
  white-space: nowrap;
  font-weight: 500;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.featurebar__nav__item--active {
  color: #fff;
  box-shadow: inset 0 -2px 0 #fff;
}
