.weight--500 {
  font-weight: 500;
}

.img-gateway {
  height: 23px;
}

.skin {
  @extend .img-responsive;
  @include center-block();

  @media (max-width: $container-md) {
    margin-bottom: 15px;
  }
}
