.weight--500 {
  font-weight: 500;
}

.img-gateway {
  height: 23px;
}

.skin {
  @extend .img-responsive;
  @include center-block();

  @media (max-width: $container-md) {
    margin-bottom: 15px;
  }
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $container-md) {
    width: 150px;
  }
}

.login-form__label {
  display: block;
}

.login-form__label-link {
  float: right;
}

.bg-body {
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.subdomain {
  @media(max-width: $container-sm) {
    display: block !important;
  }
}

.h--bold {
  font-weight: 400;
}

.h--dark {
  color: #333;
}

.spaced-content {
  display: block;
  margin-bottom: 25px;
}
