.navbar {
  @include md-shadow(1);
}

.navbar-toggle {
  color: #fff;
  float: right;
  padding: 21px 15px;
  font-size: 20px;
  line-height: 22px;
  height: 64px;
  margin: 0;
  margin-right: 15px;
}

.navbar-brand {
  padding: 0;
  & .navbar-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -4px;
    @media (min-width: 599px) {
      margin-left: 15px;
    }
  }

  & .navbar-hamburger {
    display: none;
    @media only screen and (max-width: 599px) {
      display: inline-block;
      padding: 21px 15px;
    }
  }

  & .navbar-name {
    display: inline-block;
    padding: 21px 15px;
    @media only screen and (max-width: 599px) {
      display: none !important;
    }
  }

}
