.sidebar {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  padding-top: 64px;
  box-sizing: border-box;
  @include md-shadow(1);
  background-color: white;
  z-index: 11;
  flex-direction: column;
  align-items: stretch;
  width: 256px;
  transition: width .3s cubic-bezier(0.4,0.0,0.2,1);
  @media(max-width: $container-md) {
    transform: translate3d(0,0,0);
  }
}

.content {
  display: flex;
  position: absolute;
  padding-top: 20px;
  left: 256px;
  top: 64px;
  bottom: 0;
  right: 0;
  transition: left .3s cubic-bezier(0.4,0.0,0.2,1);
  flex-direction: column;
  flex: 1;
  overflow:auto;
}

@media only screen and (max-width: 599px) {
  .content {
    left: 0;
  }
}
@media (max-width: 599px) {
  .content {
    min-height: 0;
  }
}

@media only screen and (max-width: 599px) {
  .sidebar {
    top: 0;
    z-index: 100;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
    -webkit-transform: translate3d(-256px,0,0);
    transform: translate3d(-256px,0,0);
    visibility: hidden;
    -webkit-transition: transform .3s cubic-bezier(0.4,0.0,1,1),visibility 0s ease .3s;
    transition: transform .3s cubic-bezier(0.4,0.0,1,1),visibility 0s ease .3s;
  }
}

@media only screen and (max-width: 599px) {
  .sidebar-open {
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
    visibility: visible !important;
    -webkit-transition: transform .3s cubic-bezier(0.0,0.0,0.2,1) !important;
    transition: transform .3s cubic-bezier(0.0,0.0,0.2,1) !important;
  }
}

.drawer-backdrop {
  background: rgba(0,0,0,.4);
  cursor: pointer;
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease,visibility 0s ease .3s;
  transition: opacity .3s ease,visibility 0s ease .3s;
}

@media only screen and (max-width: 599px) {
  .drawer-backdrop-open {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
}

.no-scroll {
  overflow: hidden;
}
