@mixin btn($class, $bg){
  .btn-#{$class} {
    background-size: 200%;
    background-position: 50%;
    background: $bg;
    border-color: $bg;
    border-radius: 2px;
    font-weight: 500;
    text-transform: uppercase;

    &:focus {
      background-color: $bg;
      border-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
      border-color: darken($bg, 6%);
    }

    &:active {
      background-color: darken($bg, 12%);
      border-color: darken($bg, 12%);
      background-size: 1000%;
    }
  }
  .btn-#{$class}-inverted {
    background-size: 200%;
    background-position: 50%;
    background: transparent;
    border-color: transparent;
    color: $bg;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: none;

    @if ($class == "default") {
      color: #333;
    }

    &:focus {
      background-color: none;
      border-color: none;
      color: darken($bg, 5%);
      box-shadow: none;
      outline: 0;
      @if ($class == "default") {
        color: #333;
      }
    }

    &:hover,
    &:active:hover {
      background-color: transparent;
      border-color: transparent;
      color: darken($bg, 5%);
      @if ($class == "default") {
        color: #333;
      }
      box-shadow: none;
      outline: 0;
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
      color: darken($bg, 5%);
      @if ($class == "default") {
        color: #333;
      }
      background-size: 1000%;
      box-shadow: none;
      outline: 0;
    }
  }
}
